{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "comma-dangle": [
      1,
      "always"
    ],
    "indent": [
      1,
      2
    ],
    "linebreak-style": [
      1,
      "unix"
    ],
    "no-console": 1,
    "quotes": [
      1,
      "single"
    ],
    "semi": [
      1,
      "never"
    ],
    "keyword-spacing": [
      1,
      { "before": true }
    ],
    "flowtype/define-flow-type": 1,
    "flowtype/require-parameter-type": 1,
    "flowtype/require-return-type": [
      1,
      "always",
      { "annotateUndefined": "never" }
    ],
    "flowtype/space-after-type-colon": [
      1,
      "always"
    ],
    "flowtype/space-before-type-colon": [
      1,
      "never"
    ],
    "flowtype/type-id-match": [
      1,
      "^([A-Z][a-z0-9]+)+Type$"
    ],
    "flowtype/use-flow-type": 1
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
