/* Align */

.alignBaseline,
.alignBaselineOnHover:hover,
.alignBaselineOnFocus:focus {
  vertical-align: baseline;
}

.alignTop,
.alignTopOnHover:hover,
.alignTopOnFocus:focus {
  vertical-align: top;
}

.alignMiddle,
.alignMiddleOnHover:hover,
.alignMiddleOnFocus:focus {
  vertical-align: middle;
}

.alignBottom,
.alignBottomOnHover:hover,
.alignBottomOnFocus:focus {
  vertical-align: bottom;
}
