/* Scrubs Border */

@value borderWidthSmall from 'theme/layout.css';
@value borderWidthLarge from 'theme/layout.css';
@value borderRadius from 'theme/layout.css';

.borderSmall,
.borderSmallOnHover:hover,
.borderSmallOnFocus:focus {
  border-style: solid;
  border-width: borderWidthSmall;
}

.borderSmallTop,
.borderSmallTopOnHover:hover,
.borderSmallTopOnFocus:focus {
  border-top-style: solid;
  border-top-width: borderWidthSmall;
}

.borderSmallRight,
.borderSmallRightOnHover:hover,
.borderSmallRightOnFocus:focus {
  border-right-style: solid;
  border-right-width: borderWidthSmall;
}

.borderSmallBottom,
.borderSmallBottomOnHover:hover,
.borderSmallBottomOnFocus:focus {
  border-bottom-style: solid;
  border-bottom-width: borderWidthSmall;
}

.borderSmallLeft,
.borderSmallLeftOnHover:hover,
.borderSmallLeftOnFocus:focus {
  border-left-style: solid;
  border-left-width: borderWidthSmall;
}

.borderLarge,
.borderLargeOnHover:hover,
.borderLargeOnFocus:focus {
  border-style: solid;
  border-width: borderWidthLarge;
}

.borderLargeTop,
.borderLargeTopOnHover:hover,
.borderLargeTopOnFocus:focus {
  border-top-style: solid;
  border-top-width: borderWidthLarge;
}

.borderLargeRight,
.borderLargeRightOnHover:hover,
.borderLargeRightOnFocus:focus {
  border-right-style: solid;
  border-right-width: borderWidthLarge;
}

.borderLargeBottom,
.borderLargeBottomOnHover:hover,
.borderLargeBottomOnFocus:focus {
  border-bottom-style: solid;
  border-bottom-width: borderWidthLarge;
}

.borderLargeLeft,
.borderLargeLeftOnHover:hover,
.borderLargeLeftOnFocus:focus {
  border-left-style: solid;
  border-left-width: borderWidthLarge;
}

.borderNone,
.borderNoneOnHover:hover,
.borderNoneOnFocus:focus {
  border: 0;
}

.rounded,
.roundedOnHover:hover,
.roundedOnFocus:focus {
  border-radius: borderRadius;
}

.circle,
.circleOnHover:hover,
.circleOnFocus:focus {
  border-radius: 50%;
}

.roundedTop,
.roundedTopOnHover:hover,
.roundedTopOnFocus:focus {
  border-radius: borderRadius borderRadius 0 0;
}

.roundedRight,
.roundedRightOnHover:hover,
.roundedRightOnFocus:focus {
  border-radius: 0 borderRadius borderRadius 0;
}

.roundedBottom,
.roundedBottomOnHover:hover,
.roundedBottomOnFocus:focus {
  border-radius: 0 0 borderRadius borderRadius;
}

.roundedLeft,
.roundedLeftOnHover:hover,
.roundedLeftOnFocus:focus {
  border-radius: borderRadius 0 0 borderRadius;
}

.notRounded,
.notRoundedOnHover:hover,
.notRoundedOnFocus:focus {
  border-radius: 0;
}
