/* Colours */

@value blue from 'theme/palette.css';
@value blueOpaque from 'theme/palette.css';
@value blueDark from 'theme/palette.css';
@value grey from 'theme/palette.css';
@value greyDark from 'theme/palette.css';
@value red from 'theme/palette.css';
@value offWhite from 'theme/palette.css';
@value white from 'theme/palette.css';

.textBlue,
.textBlueOnHover:hover,
.textBlueOnFocus:focus {
  color: blue;
}

.textBlueDark,
.textBlueDarkOnHover:hover,
.textBlueDarkOnFocus:focus {
  color: blueDark;
}

.textGrey,
.textGreyOnHover:hover,
.textGreyOnFocus:focus {
  color: grey;
}

.textGreyDark,
.textGreyDarkOnHover:hover,
.textGreyDarkOnFocus:focus,
input:focus + .textGreyDarkOnSiblingInputFocus {
  color: greyDark;
}

.textRed,
.textRedOnHover:hover,
.textRedOnFocus:focus {
  color: red;
}

.textGreen,
.textGreenOnHover:hover,
.textGreenOnFocus:focus {
  color: green;
}

.textOffWhite,
.textOffWhiteOnHover:hover,
.textOffWhiteOnFocus:focus {
  color: offWhite;
}

.textWhite,
.textWhiteOnHover:hover,
.textWhiteOnFocus:focus {
  color: white;
}

.textTransparent,
.textTransparentOnHover:hover,
.textTransparentOnFocus:focus {
  color: transparent;
}

.fillBlue,
.fillBlueOnHover:hover,
.fillBlueOnFocus:focus {
  fill: blue;
}

.fillBlueDark,
.fillBlueDarkOnHover:hover,
.fillBlueDarkOnFocus:focus {
  fill: blueDark;
}

.fillGrey,
.fillGreyOnHover:hover,
.fillGreyOnFocus:focus {
  fill: grey;
}

.fillGreyDark,
.fillGreyDarkOnHover:hover,
.fillGreyDarkOnFocus:focus {
  fill: greyDark;
}

.fillRed,
.fillRedOnHover:hover,
.fillRedOnFocus:focus {
  fill: red;
}

.fillGreen,
.fillGreenOnHover:hover,
.fillGreenOnFocus:focus {
  fill: green;
}

.fillOffWhite,
.fillOffWhiteOnHover:hover,
.fillOffWhiteOnFocus:focus {
  fill: offWhite;
}

.fillWhite,
.fillWhiteOnHover:hover,
.fillWhiteOnFocus:focus {
  fill: white;
}

.fillTransparent,
.fillTransparentOnHover:hover,
.fillTransparentOnFocus:focus {
  fill: transparent;
}

.bgBlue,
.bgBlueOnHover:hover,
.bgBlueOnFocus:focus {
  background-color: blue;
}

.bgBlueDark,
.bgBlueDarkOnHover:hover,
.bgBlueDarkOnFocus:focus {
  background-color: blueDark;
}
.bgBlueOpaque,
.bgBlueOpaqueOnHover:hover,
.bgBlueOpaqueOnFocus:focus {
  background-color: blueOpaque;
}

.bgGrey,
.bgGreyOnHover:hover,
.bgGreyOnFocus:focus {
  background-color: grey;
}

.bgGreyDark,
.bgGreyDarkOnHover:hover,
.bgGreyDarkOnFocus:focus {
  background-color: greyDark;
}

.bgRed,
.bgRedOnHover:hover,
.bgRedOnFocus:focus {
  background-color: red;
}

.bgGreen,
.bgGreenOnHover:hover,
.bgGreenOnFocus:focus {
  background-color: green;
}

.bgOffWhite,
.bgOffWhiteOnHover:hover,
.bgOffWhiteOnFocus:focus {
  background-color: offWhite;
}

.bgWhite,
.bgWhiteOnHover:hover,
.bgWhiteOnFocus:focus {
  background-color: white;
}

.bgTransparent,
.bgTransparentOnHover:hover,
.bgTransparentOnFocus:focus {
  background-color: transparent;
}

.borderBlue,
.borderBlueOnHover:hover,
.borderBlueOnFocus:focus {
  border-color: blue;
}

.borderBlueDark,
.borderBlueDarkOnHover:hover,
.borderBlueDarkOnFocus:focus {
  border-color: blueDark;
}

.borderGrey,
.borderGreyOnHover:hover,
.borderGreyOnFocus:focus {
  border-color: grey;
}

.borderGreyDark,
.borderGreyDarkOnHover:hover,
.borderGreyDarkOnFocus:focus {
  border-color: greyDark;
}

.borderRed,
.borderRedOnHover:hover,
.borderRedOnFocus:focus {
  border-color: red;
}

.borderGreen,
.borderGreenOnHover:hover,
.borderGreenOnFocus:focus {
  border-color: green;
}

.borderOffWhite,
.borderOffWhiteOnHover:hover,
.borderOffWhiteOnFocus:focus {
  border-color: offWhite;
}

.borderWhite,
.borderWhiteOnHover:hover,
.borderWhiteOnFocus:focus {
  border-color: white;
}

.borderTransparent,
.borderTransparentOnHover:hover,
.borderTransparentOnFocus:focus {
  border-color: transparent;
}
