/* Flexbox */

.flex,
.flexOnHover:hover,
.flexOnFocus:focus {
  display: flex;
}

.flexColumn,
.flexColumnOnHover:hover,
.flexColumnOnFocus:focus {
  flex-direction: column;
}

.flexWrap,
.flexWrapOnHover:hover,
.flexWrapOnFocus:focus {
  flex-wrap: wrap;
}

.itemsStart,
.itemsStartOnHover:hover,
.itemsStartOnFocus:focus {
  align-items: flex-start;
}

.itemsEnd,
.itemsEndOnHover:hover,
.itemsEndOnFocus:focus {
  align-items: flex-end;
}

.itemsCenter,
.itemsCenterOnHover:hover,
.itemsCenterOnFocus:focus {
  align-items: center;
}

.itemsBaseline,
.itemsBaselineOnHover:hover,
.itemsBaselineOnFocus:focus {
  align-items: baseline;
}

.itemsStretch,
.itemsStretchOnHover:hover,
.itemsStretchOnFocus:focus {
  align-items: stretch;
}

.selfStart,
.selfStartOnHover:hover,
.selfStartOnFocus:focus {
  align-self: flex-start;
}

.selfEnd,
.selfEndOnHover:hover,
.selfEndOnFocus:focus {
  align-self: flex-end;
}

.selfCenter,
.selfCenterOnHover:hover,
.selfCenterOnFocus:focus {
  align-self: center;
}

.selfBaseline,
.selfBaselineOnHover:hover,
.selfBaselineOnFocus:focus {
  align-self: baseline;
}

.selfStretch,
.selfStretchOnHover:hover,
.selfStretchOnFocus:focus {
  align-self: stretch;
}

.justifyStart,
.justifyStartOnHover:hover,
.justifyStartOnFocus:focus {
  justify-content: flex-start;
}

.justifyEnd,
.justifyEndOnHover:hover,
.justifyEndOnFocus:focus {
  justify-content: flex-end;
}

.justifyCenter,
.justifyCenterOnHover:hover,
.justifyCenterOnFocus:focus {
  justify-content: center;
}

.justifyBetween,
.justifyBetweenOnHover:hover,
.justifyBetweenOnFocus:focus {
  justify-content: space-between;
}

.justifyAround,
.justifyAroundOnHover:hover,
.justifyAroundOnFocus:focus {
  justify-content: space-around;
}

.contentStart,
.contentStartOnHover:hover,
.contentStartOnFocus:focus {
  align-content: flex-start;
}

.contentEnd,
.contentEndOnHover:hover,
.contentEndOnFocus:focus {
  align-content: flex-end;
}

.contentCenter,
.contentCenterOnHover:hover,
.contentCenterOnFocus:focus {
  align-content: center;
}

.contentBetween,
.contentBetweenOnHover:hover,
.contentBetweenOnFocus:focus {
  align-content: space-between;
}

.contentAround,
.contentAroundOnHover:hover,
.contentAroundOnFocus:focus {
  align-content: space-around;
}

.contentStretch,
.contentStretchOnHover:hover,
.contentStretchOnFocus:focus {
  align-content: stretch;
}

.flexAuto,
.flexAutoOnHover:hover,
.flexAutoOnFocus:focus {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

.flexNone,
.flexNoneOnHover:hover,
.flexNoneOnFocus:focus {
  flex: none;
}

.flexSkrink1,
.flexSkrink1OnHover:hover,
.flexSkrink1OnFocus:focus {
  flex-shrink: 1;
}

.flexGrow1,
.flexGrow1OnHover:hover,
.flexGrow1OnFocus:focus {
  flex-grow: 1;
}

.flexBasis0,
.flexBasis0OnHover:hover,
.flexBasis0OnFocus:focus {
  flex-basis: 0;
}

.flexRowReverse,
.flexRowReverseOnHover:hover,
.flexRowReverseOnFocus:focus {
  flex-direction: row-reverse;
}

.order0,
.order0OnHover:hover,
.order0OnFocus:focus {
  order: 0;
}

.order1,
.order1OnHover:hover,
.order1OnFocus:focus {
  order: 1;
}

.order2,
.order2OnHover:hover,
.order2OnFocus:focus {
  order: 2;
}

.order3,
.order3OnHover:hover,
.order3OnFocus:focus {
  order: 3;
}

.orderLast,
.orderLastOnHover:hover,
.orderLastOnFocus:focus {
  order: 99999;
}
