/* Layout */
@value barHeight from 'scrubs-theme/layout.css';

.inline,
.inlineOnHover:hover,
.inlineOnFocus:focus {
  display: inline;
}

.block,
.blockOnHover:hover,
.blockOnFocus:focus {
  display: block;
}

.inlineBlock,
.inlineBlockOnHover:hover,
.inlineBlockOnFocus:focus {
  display: inline-block;
}

.table,
.tableOnHover:hover,
.tableOnFocus:focus {
  display: table;
}

.tableCell,
.tableCellOnHover:hover,
.tableCellOnFocus:focus {
  display: table-cell;
}

.overflowHidden,
.overflowHiddenOnHover:hover,
.overflowHiddenOnFocus:focus {
  overflow: hidden;
}

.overflowScroll,
.overflowScrollOnHover:hover,
.overflowScrollOnFocus:focus {
  overflow: scroll;
}

.overflowAuto,
.overflowAutoOnHover:hover,
.overflowAutoOnFocus:focus {
  overflow: auto;
}

.clearfix:before,
.clearfix:after,
.clearfixOnHover:hover,
.clearfixOnFocus:focus:before,
.clearfixOnHover:hover,
.clearfixOnFocus:focus:after {
  content: " ";
  display: table
}

.clearfix:after,
.clearfixOnHover:hover,
.clearfixOnFocus:focus:after {
  clear: both;
}

.left,
.leftOnHover:hover,
.leftOnFocus:focus {
  float: left;
}

.right,
.rightOnOver:hover,
.rightOFocus:focus {
  float: right;
}

.fit,
.fitOnHover:hover,
.fitOnFocus:focus {
  max-width: 100%;
}

.fillHeight,
.fillHeightOnHover:hover,
.fillHeightOnFocus:focus {
  height: 100%;
}

.fillWidth,
.fillWidthOnHover:hover,
.fillWidthOnFocus:focus {
  width: 100%;
}

.bar,
.barOnHover:hover,
.barOnFocus:focus {
  height: barHeight;
}

.borderBox,
.borderBoxOnHover:hover,
.borderBoxOnFocus:focus {
  box-sizing: border-box;
}
