/* Margin */

@value space1 from 'theme/layout.css';
@value space2 from 'theme/layout.css';
@value space3 from 'theme/layout.css';
@value barHeight from 'theme/layout.css';

.m0,
.m0OnHover:hover,
.m0OnFocus:focus {
  margin: 0;
}

.mt0,
.mt0OnHover:hover,
.mt0OnFocus:focus {
  margin-top: 0;
}

.mr0,
.mr0OnHover:hover,
.mr0OnFocus:focus {
  margin-right: 0;
}

.mb0,
.mb0OnHover:hover,
.mb0OnFocus:focus {
  margin-bottom: 0;
}

.ml0,
.ml0OnHover:hover,
.ml0OnFocus:focus {
  margin-left: 0;
}

.mx0,
.mx0OnHover:hover,
.mx0OnFocus:focus {
  margin-left: 0;
  margin-right: 0;
}

.my0,
.my0OnHover:hover,
.my0OnFocus:focus {
  margin-top: 0;
  margin-bottom: 0;
}

.m1,
.m1OnHover:hover,
.m1OnFocus:focus {
  margin: space1;
}

.mt1,
.mt1OnHover:hover,
.mt1OnFocus:focus {
  margin-top: space1;
}

.mr1,
.mr1OnHover:hover,
.mr1OnFocus:focus {
  margin-right: space1;
}

.mb1,
.mb1OnHover:hover,
.mb1OnFocus:focus {
  margin-bottom: space1;
}

.ml1,
.ml1OnHover:hover,
.ml1OnFocus:focus {
  margin-left: space1;
}

.mx1,
.mx1OnHover:hover,
.mx1OnFocus:focus {
  margin-left: space1;
  margin-right: space1;
}

.my1,
.my1OnHover:hover,
.my1OnFocus:focus {
  margin-top: space1;
  margin-bottom: space1;
}

.m2,
.m2OnHover:hover,
.m2OnFocus:focus {
  margin: space2;
}

.mt2,
.mt2OnHover:hover,
.mt2OnFocus:focus {
  margin-top: space2;
}

.mr2,
.mr2OnHover:hover,
.mr2OnFocus:focus {
  margin-right: space2;
}

.mb2,
.mb2OnHover:hover,
.mb2OnFocus:focus {
  margin-bottom: space2;
}

.ml2,
.ml2OnHover:hover,
.ml2OnFocus:focus {
  margin-left: space2;
}

.mx2,
.mx2OnHover:hover,
.mx2OnFocus:focus {
  margin-left: space2;
  margin-right: space2;
}

.my2,
.my2OnHover:hover,
.my2OnFocus:focus {
  margin-top: space2;
  margin-bottom: space2;
}

.m3,
.m3OnHover:hover,
.m3OnFocus:focus {
  margin: space3;
}

.mt3,
.mt3OnHover:hover,
.mt3OnFocus:focus {
  margin-top: space3;
}

.mr3,
.mr3OnHover:hover,
.mr3OnFocus:focus {
  margin-right: space3;
}

.mb3,
.mb3OnHover:hover,
.mb3OnFocus:focus {
  margin-bottom: space3;
}

.ml3,
.ml3OnHover:hover,
.ml3OnFocus:focus {
  margin-left: space3;
}

.mx3,
.mx3OnHover:hover,
.mx3OnFocus:focus {
  margin-left: space3;
  margin-right: space3;
}

.my3,
.my3OnHover:hover,
.my3OnFocus:focus {
  margin-top: space3;
  margin-bottom: space3;
}

.mxn1,
.mxn1OnHover:hover,
.mxn1OnFocus:focus {
  margin-left: -space1;
  margin-right: -space1;
}

.mxn2,
.mxn2OnHover:hover,
.mxn2OnFocus:focus {
  margin-left: -space2;
  margin-right: -space2;
}

.mxn3,
.mxn3OnHover:hover,
.mxn3OnFocus:focus {
  margin-left: -space3;
  margin-right: -space3;
}


.mlAuto,
.mlAutoOnHover:hover,
.mlAutoOnFocus:focus {
  margin-left: auto;
}

.mrAuto,
.mrAutoOnHover:hover,
.mrAutoOnFocus:focus {
  margin-right: auto;
}

.mxAuto,
.mxAutoOnHover:hover,
.mxAutoOnFocus:focus {
  margin-left: auto;
  margin-right: auto;
}

.mtBar,
.mtBarOnHover:hover,
.mtBarOnFocus:focus {
  margin-top: barHeight;
}
